body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px; }
h1 { color: #007BFF; text-align: center; }
h2 { color: #333; }
.container { margin: auto; background: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); display: flex; justify-content: space-between; }
.container .device-details {flex: 1;min-width: 300px;}
@media (max-width: 1000px) { .container {flex-direction: column;} .container .device-details {margin-bottom: 10px;} }
.device-details, .controls { flex: 1; margin: 10px; }
.box, .wifi-info { margin-top: 20px; padding: 10px; background: #e9ecef; border-radius: 5px; }
img { width: 420px; }
.container1 { overflow: auto; display: flex;align-items: flex-start;}
.switch-column { display: flex; flex-direction: column;align-items: flex-start;}